version: '3'

services:
  web:
    container_name: 1ummah-web
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - 1ummah-network

networks:
  1ummah-network:
    driver: bridge
